<div class="container " >
	<h2>SURIMPRESSIONS</h2>
	<div class="row">
		
	<% @user.photos[0..12].each do |photo| %>
		
			<%= image_tag(photo, :class => 'col-3 photo-expo') %>
	
		<% end %>
		
		</div>

<% if false %>
	<%= image_tag(@user.photos[0], :style => 'height: 1000px; width: auto; transform: rotate(270deg)', :class => 'center parallax') %>
	<% @user.photos[1..6].each do |photo| %>

		<%= image_tag(photo, :style => 'height: 1000px; width: auto;', class: 'center parallax') %> 

	<% end %>

	<h2>IL NOUS FAUT REGARDER</h2>
	<% @user.photos[7..12].each do |photo| %>

		<%= image_tag(photo, :style => 'height: 700px; width: auto;', class: 'center') %> 

	<% end %>

	<h2 class="mt-5 mb-5">BLOG</h2>
	<% @user.photos[13..14].each do |photo| %>

		<%= image_tag(photo, :style => 'height: 500px; width: auto; transform: rotate(90deg); top:500px', class: 'center') %> 

	<% end %>

	<%= image_tag(@user.photos[15], :style => 'height: 700px; width: auto; ', class: 'center') %> 


	<%= image_tag(@user.photos[16], :style => 'height: 700px; width: auto; transform: rotate(90deg)', class: 'center') %> 

	<%= image_tag(@user.photos[17], :style => 'height: 700px; width: auto; ', class: 'center') %> 
</div>

<%end %>