<h2>Éditer un article</h2>

                <!-- Zone du formulaire -->
                <%= form_tag url_for(action: 'update'), method: "patch", class: "mt-4" do %>

                 <%= label_tag 'Quel sera son titre ? ', nil, class: "font-weight-bold" %>
                <%= text_field_tag 'title', @article.title, class: "form-control" %>

                <%= label_tag 'Son contenu :', nil, class: "font-weight-bold mt-3" %>
                <%= text_area_tag 'body', @article.body, placeholder: "Écris ton article ici", class: "form-control"  %>

				 <%= label_tag 'Sa catégorie :', nil, class: "font-weight-bold mt-3" %>
                <%= text_area_tag 'category', @article.category, placeholder: "Blog, tarif, ateliers...", class: "form-control"  %>

  <%= submit_tag "Éditer l'article", class: "btn btn-primary mb-3 mt-3" %>
  <%end %>
   <%= link_to "Supprimer l'annonce", article_path(@article), method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' }, class: "btn btn-danger mt-2 mb-1" %>