<div class="container margin-footer" style="background-color: initial;">
	<div class="container-fluid pl-5 pr-5">
	<p class="description mt-5 mb-5" style="text-align: justify;"><%= @text.description %></p></div>
	<% @cours.each do |article| %>
		<div class="row">
			<div class="col col-12">
				<div id="card" class="card card-shadow mt-3 ml-5 mr-5 mb-5">
					<div class="card-body card-body-article">
						<b><h3 class="card-title text-center mt-3 mb-3"> <%= article.title %> </h3></b>
						<% article.images_article.each do |image| %>
							<div class="col col-3 mb-3">
								<%= image_tag(image, class:" article_image") %>
							</div>
						<% end %>
						<p class="card-text"> <%= article.body %> </p>
						<div id="" class=" my-btn-article btn btn-sm btn-outline-primary click mb-3">En savoir plus</div>

						<div id ="" class="myDIV" style="display: none;">					
						<ul>
							<li><p class="card-text">Public cible : <%= article.public %> </p></li>
							<li><p class="card-text">Nombre de personne : <%= article.number %> </p></li>
							<li><p class="card-text">Matériel logistique : <%= article.equipment %> </p></li>
							<li><p class="card-text"> Durée : <%= article.duration %> </p></li>
							<li><p class="card-text">Tarif : <%= article.price %> </p></li>

						</ul>
						

						</div>				
					</div>
				</div>
			</div>
		</div>		
	<% end %>
</div>