<h1>Page Profil</h1>

<p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user.id%></p>
<h3>Avatar actuel</h3>

  <%(0...@user.photos.count).each do |photo| %>
  <%= image_tag(@user.photos[photo]) %> 

  <%end%>


<h3>Changer d'avatar ?</h3>
<%= form_tag user_photos_path(@user), multipart: true do %>
  <%= file_field_tag :photos %>
  <%= submit_tag "mettre à jour" %>
<% end %>