<div class="container-fluid margin-footer mx-auto">
	<h3 class="text-center mt-5 mb-5">Ajout de photo ?</h3>
	<div class="row">
		<div class="col col-9">
			
			<%= form_tag category_images_path(@category), multipart: true do %>
				<%= file_field_tag 'images[]', :multiple => true %>
				<%= hidden_field_tag :category, @category.name	, params[:category] || {} %>
				<button type="button" ><%= submit_tag "upload" %></button>
			<% end %>			
		</div>

		<div class="col-3">
			<%= form_tag url_for(action: 'update'), method: "patch", class: "mt-4 text-center" do %>
				<%= label_tag 'Quel sera son nom ? ', nil, class: "font-weight-bold mb-3" %>
                <%= text_field_tag 'name', @category.name, class: "form-control mb-3" %>
				<%= label_tag 'description', nil, class: 'font-weight-bold mb-3' %>
				<%= text_area_tag 'description', @category.description, class: "form-control mb-3" %>
				<%= submit_tag "Éditer", class: "btn btn-primary mb-3 mt-3 form-control" %>
  			<%end %>
		</div>
	</div>

	<div class="row">

		<% @category.images.each do |image| %>
			<div class="col-2 mt-5 ml-5 mr-5">
				<%= image_tag((image),  class:"mt-2 ml-2 fit") %>
				<%= link_to "X", category_delete_image_attachment_path(@category.id, image.id), method: "delete", data: {confirm: "are you sure ?"} %>
			</div>
		<% end %>
 	</div>
</div>
