<div class="row">
	<div class="col ml-5">
		<%= link_to '+', new_admins_article_path, style:"font-size:50px;" %>
	</div>
</div>

<div class="container">
	<% @articles.each do |article| %>
		<div class="row">
			<div class="col col-12">
				<div class="card ml-5 mr-5 mb-5">
					<div class="card-body">
						<h3 class="card-title"> <%= article.title %> </h3>
						<p class="card-text"> <%= article.body %> </p>
						<p><%= article.category %></p>
						<button class="btn btn-danger"><%= link_to "Supprimer", admins_article_path(article.id), method: 'delete' %> </button>
						<button class="btn btn-info"><%= link_to "Éditer", edit_admins_article_path(article.id) %> </button>
					</div>
				</div>
			</div>
		</div>		
	<% end %>
</div>